@model IList<BudgetManager.Models.Operation>
@{
    ViewBag.Title = "Index";
}
<h2>Operations</h2>
<a href="@Url.Action("AddOperation")" class="btn btn-primary">Add</a>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Concept</th>
            <th>Value</th>
            <th>Date</th>
            <th>Type</th>
            <th>Category</th>
            <th>Username</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var operation in Model)
        {
            <tr>
                <td>@operation.Concept</td>
                <td>$@operation.Value</td>
                <td>@operation.Date.ToString("dddd, dd MMMM yyyy")</td>
                <td>@operation.Category.Type</td>
                <td>@operation.Category.Name </td>
                <td>@operation.UserProfile.FullName </td>
                <td>
                    <a href="@Url.Action("EditOperation", new { Id = operation.IdOperation })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("DeleteOperation", new { Id = operation.IdOperation })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Balance</th>
        <th>@ViewBag.Balance</th>
    </tr>
    </tbody>
</table>
